<!-- Injeção do componente de login dentro do HTML de loginPage com variáveis através do @Input 
e adicionando demais dados como um form -->
<app-login-component
  title="Login into your account"
  primaryBtnText="SIGN IN"
  secondaryBtnText="SIGN UP"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">
    <app-first-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeHolder="johndoe@email.com"
    >
      <i class="fa fa-envelope"></i>
    </app-first-input>
    <app-first-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
    >
      <i class="fa fa-lock"></i>
    </app-first-input>
    <span>Forgot password?</span>
  </form>
</app-login-component>
