<!-- 
  Componente de entrada reutilizável que estrutura a tela de login.
  Usa o @Input para receber variáveis do componente pai e personalizar os textos dos botões.
  Também contém eventos (submit e navigate) para interação com a lógica de autenticação.
-->
<app-entry-component
  title="Login into your account"
  primaryBtnText="SIGN IN"
  secondaryBtnText="SIGN UP"
  (submit)="submit()"
  (navigate)="navigate()"
  [disableBtn]="!loginForm.valid"
>
  <!-- Formulário de login utilizando Reactive Forms -->
  <form [formGroup]="loginForm">
    <!-- Campo de entrada para o e-mail do usuário -->
    <app-first-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeHolder="johndoe@email.com"
    >
      <i class="fa fa-envelope"></i>
    </app-first-input>

    <!-- Campo de entrada para a senha do usuário -->
    <app-first-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
    >
      <i class="fa fa-lock"></i>
    </app-first-input>

    <!-- Link para recuperação de senha -->
    <span>
      <button>Forgot password?</button>
    </span>
  </form>
</app-entry-component>
