<!-- Injeção do componente de entrada (EntryComponent) na página de login -->
<!-- Passagem de variáveis via @Input e manipulação de eventos via @Output -->
<app-entry-component
  title="Sign in and start today"
  primaryBtnText="SIGN IN NOW"
  secondaryBtnText="LOGIN NOW"
  (submit)="submit()"
  (navigate)="navigate()"
  [disableBtn]="!registerForm.valid"
>
  <!-- Formulário de registro com Reactive Forms -->
  <form [formGroup]="registerForm">
    <!-- Campo para o nome de usuário -->
    <app-first-input
      formControlName="username"
      inputName="username"
      type="text"
      label="Username"
      placeHolder="John Doe"
    >
      <i class="fa fa-envelope"></i>
    </app-first-input>

    <!-- Campo para o e-mail -->
    <app-first-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeHolder="johndoe@email.com"
    >
      <i class="fa fa-envelope"></i>
    </app-first-input>

    <!-- Campo para a senha -->
    <app-first-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
    >
      <i class="fa fa-lock"></i>
    </app-first-input>

    <!-- Campo para confirmação da senha -->
    <app-first-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirm your password"
    >
      <i class="fa fa-lock"></i>
    </app-first-input>

    <span>
      <mat-checkbox formControlName="isExperimental">
        <p class="text-checkbox">Experimental</p>
      </mat-checkbox>
    </span>
  </form>
</app-entry-component>
