<!-- Injeção do COMPONENTE de login dentro do HTML de loginPage com variáveis através do @Input 
e adicionando demais dados como um form -->
<app-entry-component
  title="Sign in and start today"
  primaryBtnText="SIGN IN NOW"
  secondaryBtnText="LOGIN NOW"
  (submit)="submit()"
  (navigate)="navigate()"
  [disableBtn]="!registerForm.valid"
>
  <form [formGroup]="registerForm">
    <app-first-input
      formControlName="username"
      inputName="username"
      type="text"
      label="Username"
      placeHolder="John Doe"
    >
      <i class="fa fa-envelope"></i>
    </app-first-input>
    <app-first-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeHolder="johndoe@email.com"
    >
      <i class="fa fa-envelope"></i>
    </app-first-input>
    <app-first-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
    >
      <i class="fa fa-lock"></i>
    </app-first-input>
    <app-first-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirm your password"
    >
      <i class="fa fa-lock"></i>
    </app-first-input>
  </form>
</app-entry-component>
