<main>
  <!-- Seção do formulário contendo a logo principal, título e botões de ação -->
  <section class="form-section">
    <img src="/assets/svg/logo-main.svg" alt="main-logo" />
    <h2>{{ title }}</h2>

    <!-- O ng-content permite a injeção de conteúdo personalizado do componente pai (loginPage)-->
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <!-- Botão principal para submissão de ação -->
      <button
        class="primary-btn"
        matRipple
        (click)="submit()"
        [disabled]="disableBtn"
      >
        {{ primaryBtnText }}
      </button>

      <!-- Divisor visual entre os botões -->
      <div class="divider">
        <div></div>
        <span>OR</span>
        <div></div>
      </div>

      <!-- Botão secundário para navegação -->
      <button
        class="secondary-btn"
        matRipple
        matRippleColor="rgba(255, 255, 255, 0.3)"
        (click)="navigate()"
      >
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>

  <!-- Seção da logo secundária e nome da aplicação -->
  <section class="logo-section">
    <img src="/assets/svg/logo.svg" alt="secundary-logo" />
    <h1>My Page</h1>
  </section>
</main>
